/* line 1, /Users/lauriealaoui/GA/grat_blog/app/assets/stylesheets/global.css.scss */
body {
  margin: 10;
}

/* line 5, /Users/lauriealaoui/GA/grat_blog/app/assets/stylesheets/global.css.scss */
.content {
  margin: 10px auto;
  width: 70%;
}

/* line 10, /Users/lauriealaoui/GA/grat_blog/app/assets/stylesheets/global.css.scss */
.clearfix {
  clear: both;
}
/* line 1, /Users/lauriealaoui/GA/grat_blog/app/assets/stylesheets/nav.css.scss */
header {
  background: white;
  padding: 10px;
}
/* line 4, /Users/lauriealaoui/GA/grat_blog/app/assets/stylesheets/nav.css.scss */
header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 9, /Users/lauriealaoui/GA/grat_blog/app/assets/stylesheets/nav.css.scss */
header a {
  text-decoration: none;
  font-weight: bold;
  color: slategray;
}

/* line 16, /Users/lauriealaoui/GA/grat_blog/app/assets/stylesheets/nav.css.scss */
.left-nav {
  float: left;
  font-size: xx-large;
}

/* line 21, /Users/lauriealaoui/GA/grat_blog/app/assets/stylesheets/nav.css.scss */
.right-nav {
  float: right;
  font-size: medium;
}
/* line 2, /Users/lauriealaoui/GA/grat_blog/app/assets/stylesheets/stories.scss */
html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */
#marker {
left: 148px;
position: relative;
top: -39px;
color: #E26A6A;
} 
