
<h3>This is my final project for General Assembly's Web Development Intensive program. In 12 short weeks I've been taken on an incredible learning journey and been shown how to continue this exciting path on my own. I'm not sure where it will take me, but I'm enjoying each step of the way and can't wait to see just how far I can go!</h3>